--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tournament; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: TournamentCategory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."TournamentCategory" (id, "tournamentId", "categoryName", gender, "createdAt") FROM stdin;
\.


--
-- Data for Name: Match; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Match" (id, "tournamentId", "tournamentCategoryId", round, "player1Id", "player2Id", "refereeId", "winnerId", status, "courtNumber", "matchTime", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: MatchSet; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."MatchSet" (id, "matchId", "setNumber", "player1Score", "player2Score") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
6185f976-d423-45f6-aa1b-d520085b286e	0c7be4b02a60958dd0417b8f6b2c59390a25eeed5abf7d1423690de9ecd91bb4	2025-07-17 17:25:38.866987+02	20250717152538_initial_postgres_setup	\N	\N	2025-07-17 17:25:38.832969+02	1
e17876ad-33ec-4a8a-a714-0ed01042f825	f3ccef7149c3d4dae43e4dc8998bf0f5f4d95e1f22bdf5e0e8c92134c8bd0653	2025-08-05 13:04:30.675623+02	20250805110430_match_add	\N	\N	2025-08-05 13:04:30.643296+02	1
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (id, role_name, creation_date, modification_date, active) FROM stdin;
1	player	2025-05-27 11:05:25	2025-05-27 11:05:25	t
2	organizer	2025-05-27 11:05:25	2025-05-27 11:05:25	t
3	admin	2025-05-27 11:05:25	2025-05-27 11:05:25	t
\.


--
-- Data for Name: session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.session (sid, sess, expire) FROM stdin;
aam2d1cRA9ScrdOS8b4yCs34gSQ-6inV	{"cookie":{"originalMaxAge":86400000,"expires":"2025-08-06T11:53:01.516Z","secure":false,"httpOnly":true,"path":"/","sameSite":"lax"},"passport":{"user":4}}	2025-08-06 15:21:32
tDXudiPcaH34MqMUgNZSPyghH31qaXAx	{"cookie":{"originalMaxAge":86400000,"expires":"2025-08-06T12:25:07.557Z","secure":false,"httpOnly":true,"path":"/","sameSite":"lax"},"passport":{"user":4}}	2025-08-06 14:28:09
\.


--
-- Data for Name: tournamentregistration; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tournamentuserrole; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tournamentuserrole (id, "tournamentId", "userId", role, "createdAt") FROM stdin;
25	12	37	participant	2025-06-12 13:05:07.648
26	12	4	organizer	2025-07-08 12:21:02.942
27	12	2	organizer	2025-07-08 12:40:58.056
\.


--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: MatchSet_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."MatchSet_id_seq"', 1, false);


--
-- Name: Match_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Match_id_seq"', 1, false);


--
-- Name: TournamentCategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."TournamentCategory_id_seq"', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_id_seq', 3, false);


--
-- Name: tournament_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tournament_id_seq', 13, false);


--
-- Name: tournamentregistration_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tournamentregistration_id_seq', 83, false);


--
-- Name: tournamentuserrole_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tournamentuserrole_id_seq', 27, false);


--
-- Name: user_roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_roles_id_seq', 33, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 37, false);


--
-- PostgreSQL database dump complete
--

